In [1]:
import pandas as pd
import sklearn
import numpy as np

In [2]:
df_train = pd.read_csv("./data/transformed/train_small.csv")
df_train

,county,is_business,product_type,target,is_consumption,data_block_id,row_id,prediction_unit_id,price_elec,hour_temperature,year,month,date
0,11,0,3,0.031,0,512,1620780,45,29.30,1.4,2023,1,26
1,2,0,1,16.900,1,103,309369,62,137.72,0.4,2021,12,13
2,7,1,1,502.720,1,159,482105,29,99.66,1.6,2022,2,7
3,11,0,1,0.000,0,548,1733480,43,80.38,3.6,2023,3,3
4,8,0,3,2.825,0,490,1548778,32,139.64,1.2,2023,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,1,3,29.622,0,329,1029398,10,606.59,16.6,2022,7,27
9996,11,0,2,4.720,0,19,57550,44,128.53,10.6,2021,9,20
9997,7,1,1,0.000,0,391,1224728,29,85.48,10.8,2022,9,27
9998,0,1,1,5.303,0,353,1105544,4,624.72,23.8,2022,8,20
9999,15,0,1,58.353,1,530,1676235,57,138.53,2.7,2023,2,13

In [3]:
# Drop all lines where target is null or nan
# A function 'dropna' exists also
df_train = df_train[df_train["target"].isna() == False]

## Train - Test

In [4]:
from sklearn.model_selection import train_test_split

X = df_train.drop('target', axis=1)
y = df_train['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [5]:
X_train

,county,is_business,product_type,is_consumption,data_block_id,row_id,prediction_unit_id,price_elec,hour_temperature,year,month,date
8966,7,1,1,1,624,1976467,29,141.72,9.9,2023,5,18
1561,5,0,1,1,25,76045,19,92.43,9.6,2021,9,26
1670,2,1,1,0,256,794574,65,188.47,9.8,2022,5,15
4346,5,1,3,0,85,254714,23,104.90,7.6,2021,11,25
8100,10,0,1,0,106,319130,38,200.02,5.7,2021,12,16
...,...,...,...,...,...,...,...,...,...,...,...,...
5735,2,0,3,1,576,1824899,9,34.17,1.1,2023,3,31
5192,4,1,1,0,510,1612146,66,77.99,0.4,2023,1,24
5391,5,1,0,1,573,1813363,21,152.00,-0.8,2023,3,28
860,2,0,1,0,190,582284,62,98.72,1.8,2022,3,10
7271,11,1,1,0,120,360218,46,66.74,-4.6,2021,12,30

In [6]:
y_train.isna().sum()

0

## Modelisation

[All regression models](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.linear_model)

Prendre un model : 
- [Un autre model lineaire](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.linear_model)
- [Ensembliste](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble)
- [XGBoost](https://xgboost.readthedocs.io/en/stable/python/python_api.html)

In [25]:
from sklearn.dummy import DummyRegressor

dummy_regr = DummyRegressor(strategy="mean")
dummy_regr.fit(X_train, y_train)

DummyRegressor()

In [14]:
import numpy as np
from sklearn.linear_model import LinearRegression
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

reg = LinearRegression().fit(X_train, y_train)
y_train_hat = reg.predict(X_train)

### Metrics and Evaluation

In [22]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

def model_evaluator(model_trained):
  temp_y_train_hat = model_trained.predict(X_train)
  print("MAE : ", mean_absolute_error(y_train, temp_y_train_hat))
  print("MSE : ", mean_squared_error(y_train, temp_y_train_hat))
  print("MAPE : ", mean_absolute_percentage_error(y_train, temp_y_train_hat))

In [26]:
model_evaluator(dummy_regr)

MAE :  347.3139294854659
MSE :  739492.3043720301
MAPE :  2.073637967402468e+17

In [23]:
model_evaluator(reg)

MAE :  339.3368385148668
MSE :  655564.6967445702
MAPE :  1.5241415304086035e+17